<!DOCTYPE html>
<html ng-app="PlanetApp">
  <head>
    <meta charset="utf-8">
    <title>Angular</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="skeleton.css">
    <link rel="stylesheet" href="style.css">
    <script type="text/javascript" src="app.js"></script>
  </head>
  <body ng-controller="MainController as ctrl">
    <div class="container">

      <h1>Astronomy Final</h1>
      <h2>Summer Harris</h2>
      <nav >
        <ul class="navul">
          <li ng-click="ctrl.goHome()">Home</li>
          <li ng-click="ctrl.goQuiz()">Quiz</li>
          <li ng-click="ctrl.goAbout()">About</li>
        </ul>
      </nav>
      <br>



    <form ng-if="ctrl.home"ng-submit="ctrl.getPlanet()">
      <input type="text" ng-model="ctrl.searchterm" placeholder="Planet Name">
      <button type="submit">Get Planets</button>
    </form>

    <h1 ng-if="ctrl.quiz">What is the name of this Planet?</h1>
    <form ng-if="ctrl.quiz"ng-submit="ctrl.answerQuiz()">
      <input type="text" ng-model="ctrl.quizterm" placeholder="Planet Name">
      <button type="submit">Submit Answer</button>
    </form>

    <h1 ng-if="ctrl.correct">You Got It Right It Was: {{ctrl.lastanswer}}</h1>
    <h1 ng-if="ctrl.wrong">You Got It Wrong It Was: {{ctrl.lastanswer}}</h1>

    <h2 ng-if="ctrl.about">Hi, I'm Summer Harris and this is my Astronomy Final.</h2>

    <h2 ng-if="ctrl.about" >Click The Quiz Bar to Take a Quiz on Our Solar System!</h2>

    <h2 ng-if="ctrl.about" >This Website Uses The NASA API to retrieve images!</h2>
    <a href="https://api.nasa.gov/"><h2 ng-if="ctrl.about" >NASA API</h2></a>


    <div ng-repeat="planet in ctrl.planets">
      <img ng-click="planet.show=ctrl.showPlanet(planet.show)" ng-src="{{planet.links[0].href}}">
      <hr>
    </div>
</div>
  </body>
</html>
