<!DOCTYPE html>
<html ng-app="PlanetApp">
  <head>
    <meta charset="utf-8">
    <title>Angular</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="skeleton.css">
    <link rel="stylesheet" href="style.css">

    </script>
    <script type="text/javascript" src="app.js"></script>
  </head>
  <body ng-controller="MainController as ctrl">
    <div class="container">


    <header>

    </header>
    <form ng-submit="ctrl.getPlanet()">
      Planet Name:
      <input type="text" ng-model="ctrl.searchterm" placeholder="Planet Name">
      <button type="submit">Get Planets</button>
    </form>

    <!-- <h1>{{ctrl.planets}}</h1> -->
    <div ng-repeat="planet in ctrl.planets">
      <img ng-click="planet.show=ctrl.showPlanet(planet.show)" ng-src="{{planet.links[0].href}}">
      <hr>
    </div>
</div>
  </body>
</html>
